doctype html
html
    head
        title Map
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        meta(charset='utf-8')
        input(id='lat', type='hidden', name='lat',value=lat)
        input(id='lng', type='hidden', name='lng',value=lng)
        style.
            html, body, #map-canvas {
                height: 100%;
                margin: 0px;
                padding: 0px
            }
        script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
        script.
            var map;
            var lat = document.getElementById("lat").value;
            var lng = document.getElementById("lng").value;
            function initialize() {
                var mapOptions = {
                    zoom: 8,
                    center: new google.maps.LatLng(lat, lng)
                };
                map = new google.maps.Map(document.getElementById('map-canvas'),
                        mapOptions);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
    body
        #map-canvas
