p
    form#loc(method='post', action='point')
        input#lat(type='hidden', name='lat')
        input#lng(type='hidden', name='lng')
    script.
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            document.getElementById("lat").value = lat;
            document.getElementById("lng").value = lng;
            document.getElementById("loc").submit();
            });
        };